#dashboard-container{
    //visibility: hidden;
    position: absolute;
    //z-index: 1;
}

.btn-container{
    cursor: pointer;
    transition: 0.25s;
    &:hover,
    &:active {
        .mode-btn{
            fill: $crimson;
        }
        .mode{
            fill: white;
        }
    }
}

#dashboard-2-container{
    
    position: absolute;
    z-index: -1;
    // visibility: hidden;
    // #music-container{
    //     stroke: white;
    //     border-radius: 9
    // }
}