#mode-container{
    cursor: pointer;
    // transition: 0.25s;
    &:hover,
    &:active {
        #mode-btn{
            fill: $crimson;
        }
        #mode{
            fill: white;
        }
    }
    
    
}