#dashboard-container{
    //visibility: hidden;
    position: absolute;
}
#album-cover{
    height: 100%;
    width: 100%;
}
.btn-container{
    cursor: pointer;
    transition: 0.25s;
    &:hover,
    &:active {
        .mode-btn{
            fill: #F07405;
        }
        .mode{
            fill: white;
        }
    }
}

#dashboard-2-container{
    position: absolute;
    z-index: -1;
}