/* =============
    Panther Dashboard Svg
============= */

#panther-container{
    background-color: #000;

    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        #panther-logo{
            width: 100%;
        }
        #dashboard-container{
            //visibility: hidden;
            position: absolute;
        }
    }
        
}