/* =============
    Panther Dashboard Svg
============= */

#panther-container{
    background-color: #000;
    position: absolute;
    z-index: -2;

    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;

        #panther-logo{
            width: 100%;
        }
    }
        
}